/*Header Image*/
header {
  background: url(../images/contact.jpg) center, no-repeat;
  background-size: cover;
}

/*Main Section*/

.background-container-contact {
  background-color: white;
}

.white-box-contact {
  display: block;
  font-size: 100%;
  color: var(--dark-green);
  font-weight: bold;
}

.form-content {
  display: flex;
  flex-direction: column;
}

.form-content input,
textarea {
  padding: 1em;
  margin-bottom: 1em;
  border: 1px solid grey;
}

.form-content input:focus,
textarea:focus {
  outline: none !important;
  border: 1px solid var(--light-blue);
}

.form-content textarea {
  height: 65%;
  min-height: 130px;
}

.white-box-info > * {
  padding-bottom: 1em;
}

.white-box-info p {
  color: black;
  font-weight: normal;
}

.white-box-info h2 {
  text-align: left;
  padding-bottom: 0.5em;
}

/*overlay pop up window*/
.overlay {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 3;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: auto;
  padding: 20px;
  background: white;
  color: var(--dark-green);
  width: 70%;
  position: relative;
  transition: all 2s ease-in-out;
}

.popup-button {
  display: flex;
  justify-content: center;
  margin: 20px;
}
