/*Header Image*/
header {
    background: url(../images/exhibition.jpg) center, no-repeat;
    background-size: cover;
  }

  /*Main Section*/
  .exhibition-container {
    background-color: white;
    padding: 1em;
  }

  .exhibition-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .exhibition-text >* {
    padding: 1em;
  }

  .title-blue {
    color: var(--darker-blue);
  }

  .circle img {
    box-shadow: 3px 2px 23px rgb(0 0 0 / 50%);
  }

.fa-angle-double-down, .fa-angle-double-up {
  position: absolute;
  top: 20.5em;
    left: 50%;
    margin-left: -15px;
    font-size: 3em;
    color: var(--darker-blue);
}

.fa-angle-double-up {
  display: none;
}

.exhibition-text {
  display: none;
}

#dropdown-text {
  display: none;
}

#dropdown-text:checked ~ .exhibition-text, #dropdown-text:checked ~ .fa-angle-double-up {
  display: block;
  transition: 2s ease;
  transform: translateX(0px);
}

#dropdown-text:checked ~ .fa-angle-double-down {
  display: none;
}

.exhibition-section i:hover {
  transition: 0.3s;
  transform: scale(1.1);
}