/*Header Image*/
header {
  background: url(../images/explore.jpg) center, no-repeat;
  background-size: cover;
}

.header-corner_box {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 200px;
  background: white;
  font-size: small;
  font-style: italic;
  padding: 117px;
  border-radius: 0 0 0 100%;
  display: none;
  flex-direction: column;
  align-items: flex-end;
}

.header-box_quote {
  position: absolute;
  top: 20px;
  max-width: 72%;
  left: 56px;
  color: var(--dark-blue);
  font-weight: 500;
}

.header-box_quoter {
  position: absolute;
  top: 148px;
  max-width: 72%;
  left: 112px;
  font-weight: bold;
  font-style: normal;
  color: var(--dark-green);
}

/*Main Sections*/
.explore-more h2 {
  color: var(--dark-green);
}

.kids {
  background: radial-gradient(var(--darker-blue) -20%, var(--dark-green) 80%)
    no-repeat;
}

.teachers {
  background-color: white;
}

.researchers {
  background: radial-gradient(var(--darker-blue) -25%, var(--dark-blue) 80%)
    no-repeat;
}

.kids,
.teachers,
.researchers {
  padding: 40px 0 50px 0;
}

.flex-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 600px;
}

.explore-more {
  background: white;
  padding: 40px 50px 1px 50px;
}

.text-content {
  padding: 15px;
  padding-bottom: 40px;
}

.bold-pharagraph {
  font-weight: bold;
  padding: 20px 0;
}

.top-line,
.bottom-line {
  border: 5px solid #1a5177;
}

.bottom-line {
  border-color: #07102c;
}

.line {
  margin: 20px auto;
  height: 0px;
  border-top: 0;
  max-width: 70%;
}

.circle-section {
  padding-top: 10px;
}

.centered {
  position: absolute;
  top: 40%;
  width: 100%;
}
