/*Header Image*/
header {
  background: url(../images/explore.jpg) center, no-repeat;
  background-size: cover;
}

/*Main Sections*/
h2,
h3 {
  text-align: center;
}

.explore-more h2 {
  color: var(--dark-green);
}

.kids {
  background: radial-gradient(var(--darker-blue), var(--dark-green) 80%)
    no-repeat;
}

.teachers {
  background-color: white;
}

.researchers {
  background: radial-gradient(var(--darker-blue), var(--dark-blue) 80%)
    no-repeat;
}

.kids,
.teachers,
.researchers {
  padding: 40px 0 50px 0;
}

.explore-more {
  background: white;
  padding: 40px 50px 50px 50px;
}

.text-content {
  padding: 15px;
  padding-bottom: 40px;
}

.bold-pharagraph {
  font-weight: bold;
  padding: 20px 0;
}

.top-line {
  border: 5px solid #1a5177;
}

.bottom-line {
  border: 5px solid #07102c;
}

.line {
  margin: 20px auto;
  height: 0px;
  border-top: 0;
  max-width: 70%;
}

.flex-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 600px;
}

.circle-section {
  padding-top: 10px;
}

.circle {
  padding: 20px 0;
  position: relative;
  max-width: 230px;
}

.circle img {
  width: 230px;
  border-radius: 50%;
  box-shadow: 3px 2px 50px rgb(0 0 0 / 50%);
}

.circle:hover img {
  border: 5px solid var(--darker-blue);
  transition: 0.3s;
  transform: scale(1.1);
}

.centered {
  position: absolute;
  top: 40%;
  width: 100%;
}
