/*Header Image*/
header {
  background: url(../images/involved.jpg) center, no-repeat;
  background-size: cover;
}

/*Main section*/
.background-container-involve {
  background-color: white;
}

.flex-container-involve {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-involve {
  width: 233px;
}

.text-content-involve > * {
  padding: 0.5em 0;
}

.text-content-involve span {
  font-weight: bold;
}

.text-content-involve h2 {
  background: linear-gradient(var(--darker-blue) 35%, var(--dark-blue) 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-involve {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 1em;
}

.contact-border-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4em auto;
  -webkit-box-shadow: 0 62px 46px -49px rgb(0 0 0 / 20%);
  box-shadow: 0 62px 46px -49px rgb(0 0 0 / 20%);
}
