@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media (min-width: 900px) {
  /*Navigation bar*/
  .logo span {
    font-size: medium;
  }

  /*Header*/
  .cta-header {
    left: auto;
    right: 60px;
  }

  .header-content {
    max-width: 60%;
    margin-bottom: 20px;
  }

  .header-corner_box {
    display: flex;
  }

  /*Main Section*/
  .flex-section {
    max-width: 850px;
    margin: auto;
    flex-direction: row-reverse;
  }

  .flex-section_row {
    flex-direction: row;
  }

  .flex-section > * {
    flex: 1;
    margin: 0 20px;
  }
}

@media (min-width: 1225px) {
  /*Global*/
  html,
  p {
    font-size: 100%;
  }

  .container {
    margin-bottom: 4em;
  }

  /*Header*/
  .cta-header {
    right: 160px;
  }

  .header-content {
    margin-left: 10em;
    margin-bottom: 35px;
    max-width: 50%;
  }

  /*Main Section*/
  .flex-section {
    max-width: 1150px;
  }

  #circle-section_height {
    min-height: 450px;
  }

  /*Footer*/
  .flex-footer,
  hr {
    width: 1150px;
    margin: auto;
  }
}
