@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/*very small screens*/
@media (max-width: 375px) {
  /*bio and medicine title*/
  .biomed-small {
    display: block;
  }
  .biomed-big {
    display: none;
  }
  /*Contact button on get involved page*/
  .cta-involve-narrow {
    padding: 2em 1.2em;
  }
}

@media (min-width: 900px) {
  /*Navigation bar*/
  .logo span {
    font-size: medium;
  }

  /*Header Global*/
  .cta-header {
    left: auto;
    right: 60px;
  }

  .header-content {
    max-width: 60%;
    margin-bottom: 20px;
  }

  /*Header home page*/
  .header-corner_box {
    display: flex;
  }

  /*Main Section home page*/
  .flex-section {
    max-width: 850px;
    margin: auto;
    flex-direction: row-reverse;
  }

  .flex-section_row {
    flex-direction: row;
  }

  .flex-section > * {
    flex: 1;
    margin: 0 20px;
  }
  /*Main Section visit page*/

  .white-boxes-visit {
    flex-direction: row;
    justify-content: center;
  }

  .white-box-visit {
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .visit-box_content {
    width: 202px;
    align-self: self-end;
  }

  .visit-box_location {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
  }

  .info-content {
    display: grid;
    grid-template-rows: 15% 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3em;
  }

  .accessibility {
    grid-row: 2;
  }

  .food-drink {
    grid-row: 2;
  }

  .shop {
    grid-row: 3;
  }

  .info-content h2 {
    text-align: left;
  }

  .info-image_container {
    flex-direction: row;
    padding-bottom: 1em;
  }

  .info-image {
    padding: 1em;
  }

  .contact-button {
    font-size: 100%;
  }

  /*Main section exhibits*/
  .exhibition-section {
    margin: auto;
    max-width: 881px;
  }

  .exhibition-text {
    display: block;
  }

  .circle-and-exhibition-text {
    flex-direction: row;
    gap: 2em;
  }

  .circle-and-exhibition-text > * {
    padding: 1em;
  }

  .fa-angle-double-down,
  .fa-angle-double-up {
    display: none;
    opacity: 0;
  }

  .exi-titles {
    text-align: left;
    align-self: baseline;
    margin-left: 37%;
  }

  .robot-title {
    position: absolute;
  }

  /*Main section events*/
  .flex-section-ex {
    flex-direction: row-reverse;
    align-items: center;
  }

  .flex-section-ex > * {
    padding: 2em;
  }

  .text-content-ex {
    flex: 1;
  }

  .image-container-ex {
    flex: 1;
  }

  .text-content-ex h2 {
    text-align: left;
  }

  /*Main section get involved*/
  .text-content-involve {
    max-width: 50%;
  }

  .cta-involve-big {
    padding: 2em 3em;
  }

  /*Main section contact us*/
  .white-box-info {
    background: url(../images/balls.jpg) no-repeat;
    background-position-x: 65%;
    background-size: contain;
  }
}

@media (min-width: 1225px) {
  /*Global*/
  html,
  p {
    font-size: 100%;
  }

  .nav_bar {
    padding: 0 10px;
  }

  nav {
    display: block;
    position: static;
    background: none;
    width: auto;
  }

  nav li {
    display: inline-block;
  }

  li a {
    border-bottom: 5px solid transparent;
    padding: 25px 0 20px 0;
  }

  .active {
    border-bottom: 5px solid white;
    text-decoration: none;
  }

  li a:hover {
    border-bottom: 5px solid white;
    transform: none;
  }

  .fa-bars {
    display: none;
  }

  /*Header*/
  .cta-header {
    right: 160px;
  }

  .header-content {
    margin-left: 10em;
    margin-bottom: 35px;
    max-width: 50%;
  }

  /*Header visit page*/
  .header-content_visit {
    margin-bottom: 3em;
  }

  /*Main Section home page*/
  .flex-section {
    max-width: 1150px;
  }

  #circle-section_height {
    min-height: 450px;
  }

  /*Main Section visit page*/

  main {
    position: relative;
  }

  .white-boxes-visit {
    position: absolute;
    left: 11%;
    top: -3%;
    width: 78%;
    padding: 0;
  }

  .white-box-visit {
    margin: 0;
  }

  .information {
    padding: 11em 0 1em;
  }

  .info-content {
    max-width: 70%;
    margin: auto;
  }

  .info-image_container {
    width: 70%;
    margin: auto;
  }

  /*Footer*/
  .flex-footer,
  hr {
    width: 1150px;
    margin: auto;
  }

  /*Main section exhibits*/

  .exhibition-container {
    padding-top: 3em;
    row-gap: 5em;
  }

  .exhibition-section {
    max-width: 1125px;
    position: relative;
    min-height: 456px;
  }

  .circle-and-exhibition-text {
    gap: 7em;
    min-height: 450px;
  }

  .circle-and-exhibition-text img {
    width: 280px;
  }

  .exhibition-text {
    padding-top: 4em;
  }

  .exi-titles {
    margin-left: 40.5%;
    position: absolute;
  }

  .evolution-content,
  .robotics-content {
    flex-direction: row-reverse;
  }

  .cos-title {
    top: 18%;
  }

  .evo-title {
    margin-left: 2.5%;
    top: 12%;
  }

  .bio-title {
    top: 3%;
  }

  .robot-title {
    margin-left: 2.8%;
    top: 28%;
  }

  .eco-title {
    top: 19%;
  }

  /*Main section events*/
  .flex-section-ex > * {
    padding: 5em;
  }

  .ex-section {
    padding: 0 5em;
  }

  /*Main section get involved*/
  .flex-container-involve {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
    max-width: 1160px;
    margin: auto;
  }

  .text-content-involve {
    max-width: 85%;
  }

  .contact-border-button {
    align-self: center;
  }

  /*Main Section Contact Us*/
  .white-boxes-info {
    max-width: 1110px;
    margin: auto;
  }
}

@media (min-width: 1500px) {
  .container {
    margin-bottom: 4em;
  }
}
