@import "imports/links.css";
@import "imports/variables.css";

/* Global*/
@font-face {
  font-family: "Primus Bold";
  src: url("../fonts/PrimusBold.otf") format("opentype");
}

@font-face {
  font-family: "Primus SemiBold";
  src: url("../fonts/PrimusSemiBold.otf") format("opentype");
}

@font-face {
  font-family: "Primus Regular";
  src: url("../fonts/PrimusRegular.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: var(--text-pharagraph), Arial, Helvetica, sans-serif;
  background: -webkit-linear-gradient(var(--darker-blue) 12%, var(--dark-blue))
    no-repeat;
  background-attachment: fixed;
  line-height: 1.8;
  color: white;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
.logo {
  font-family: var(--text-heading), Verdana, Geneva, Tahoma, sans-serif;
  text-transform: capitalize;
}

h1 {
  font-size: 2.3em;
}

h2,
h3 {
  font-size: 2em;
  text-align: center;
}

h3 {
  font-size: 1.5em;
}

h4 {
  color: black;
}

p {
  font-size: 0.94em;
}

.text-black {
  color: black;
}

img {
  width: 100%;
}

.section-line {
  border: 1px solid white;
  margin: auto;
  max-width: 65%;
  opacity: 0.7;
}

/*Navigation bar*/

.nav_bar {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
}

.logo > span {
  padding-left: 10px;
}

.regular {
  font-family: Primus Regular, Verdana, Geneva, Tahoma, sans-serif;
}

.logo img {
  width: 50px;
}

#hamburger-menu {
  display: none;
}

.fa-bars:hover {
  transition: 0.3s;
  transform: scale(1.4);
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.fa-bars {
  padding: 10px;
  font-size: x-large;
}

nav {
  display: none;
  background: linear-gradient(var(--darker-blue), var(--dark-blue));
  position: absolute;
  width: 100%;
  right: 0px;
  top: 64px;
  z-index: 100;
}

nav li {
  display: block;
}

/*Top header*/

header {
  color: white;
  display: flex;
  align-items: flex-end;
  min-height: 593px;
  position: relative;
}

.shadow-box {
  padding: 0 10px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 45%,
    rgba(0, 0, 0, 1)
  );
  width: 100%;
  height: 593px;
  display: flex;
  align-items: flex-end;
}

.header-content {
  margin-bottom: 20px;
}

.header-content_home {
  margin-bottom: 85px;
}

.highlight {
  font-family: var(--text-pharagraph);
  color: var(--light-blue);
  font-weight: bold;
}

/*circle images*/
.circle {
  padding: 20px 0;
  position: relative;
  text-align: center;
}

.circle img {
  width: 230px;
  border-radius: 50%;
  box-shadow: 3px 2px 50px rgb(0 0 0 / 50%);
}
@media (hover: hover) and (pointer: fine) {
  .circle:hover img {
    border: 5px solid var(--darker-blue);
    transition: 0.3s;
    transform: scale(1.1);
  }
}

@media (hover: hover) and (pointer: fine) {
  .circle-green:hover img {
    border: 5px solid var(--dark-green);
  }
}

/*White shadow boxes*/
.white-boxes {
  background-color: white;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.white-box {
  -webkit-box-shadow: 1px 1px 8px 2px rgb(0 0 0 / 25%);
  box-shadow: 1px 1px 8px 2px rgb(0 0 0 / 25%);
  padding: 1em;
  margin: 0.5em 0em 1.5em;
}

.address-space {
  margin-bottom: 2em;
}

.info-title {
  color: var(--light-blue);
  text-transform: capitalize;
  font-size: 1.2em;
  font-weight: bold;
}

/*Footer*/

footer {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  position: relative;
  padding-top: 3em;
}

footer {
  color: black;
}

.flex-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-logo {
  margin-top: 15px;
}

hr {
  border-bottom: 1px solid rgba(250, 235, 215, 0.4);
  margin: auto 15px;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 10rem;
  margin: 2rem;
  align-self: center;
}

.social-media i {
  font-size: 3rem;
  cursor: pointer;
}

.copyrights {
  font-size: x-small;
  text-align: center;
}
