/*Header Image*/
header {
  background: url(../images/visit.jpg) center, no-repeat;
  background-size: cover;
}

/*Main Section*/
.white-box i,
.white-box h4,
.info-list h3 {
  font-size: xx-large;
  color: var(--light-blue);
}

.white-box h4,
.info-list h3 {
  font-size: large;
  text-align: left;
}

.visit-box_content {
  width: 184px;
  padding-left: 1em;
}

table th {
  text-align: left;
  font-weight: 500;
  padding-right: 1em;
}

/*Main Section green*/
.information {
  background-color: var(--dark-green);
  padding: 1em 0;
}

.info-content {
  padding: 1em;
}

.info-list {
  padding: 10px;
  margin: 10px;
}

.info-list h3 {
  display: list-item;
}

.info-image_container {
  display: flex;
  flex-direction: column;
}

.info-image {
  padding-bottom: 2em;
}

.info-image img {
  display: block;
}

.info-image p {
  margin: 0 1em;
  font-style: italic;
}

.information span {
  font-weight: bold;
  font-style: normal;
}


