@import "imports/variables.css";

/*Global links*/
a {
  text-decoration: none;
  color: white;
  font-family: var(--text-link), Verdana, Geneva, Tahoma, sans-serif;
  text-transform: capitalize;
}

/*Call to action*/
.cta {
  background-color: var(--light-blue);
  padding: 10px 10px;
  text-align: center;
}

.cta-header {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 0;
}

.first-icon,
.button-text,
.last-icon {
  padding: 0 7px;
}
