:root {
    --text-pharagraph: "Montserrat";
    --text-heading: "Primus Bold";
    --text-link: "Primus SemiBold";
    --light-blue: #38BFF5;
    --darker-blue: #31A3D1;
    --dark-blue: #03011C;
    --dark-green: #185269;
  }